In [1]:
# install  all dependencies in requirements.txt
import subprocess
subprocess.check_call(['pip', 'install', '-r', 'requirements.txt'])

0

In [2]:
print ("All dependencies have been installed successfully.")

All dependencies have been installed successfully.

In [ ]:
# connecto to yahoo finance and fetch the spx historical data for max period 
import yfinance as yf
import pandas as pd
import numpy as np
import datetime
import os

# Fetch SPX historical data for maximum period
spx = yf.Ticker("^SPX")
spx_hist = spx.history(period="max")
spx_hist.reset_index(inplace=True)
# add a new column change_pc to the dataframe to calculate the percentage change between the closing price of the current day and the previous day

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,1927-12-30 00:00:00-05:00,17.660000,17.660000,17.660000,17.660000,0,0.0,0.0
1,1928-01-03 00:00:00-05:00,17.760000,17.760000,17.760000,17.760000,0,0.0,0.0
2,1928-01-04 00:00:00-05:00,17.719999,17.719999,17.719999,17.719999,0,0.0,0.0
3,1928-01-05 00:00:00-05:00,17.549999,17.549999,17.549999,17.549999,0,0.0,0.0
4,1928-01-06 00:00:00-05:00,17.660000,17.660000,17.660000,17.660000,0,0.0,0.0
...,...,...,...,...,...,...,...,...
24600,2025-12-08 00:00:00-05:00,6875.200195,6878.270020,6827.189941,6846.509766,4757130000,0.0,0.0
24601,2025-12-09 00:00:00-05:00,6840.609863,6864.919922,6837.430176,6840.509766,4508050000,0.0,0.0
24602,2025-12-10 00:00:00-05:00,6833.490234,6900.669922,6824.689941,6886.680176,5526570000,0.0,0.0
24603,2025-12-11 00:00:00-05:00,6861.299805,6903.459961,6833.450195,6901.000000,5021060000,0.0,0.0
24604,2025-12-12 00:00:00-05:00,6886.850098,6899.850098,6801.790039,6827.410156,3194992806,0.0,0.0

In [ ]:
spx_hist['change_pc'] = spx_hist['Close'].pct_change() * 100
spx_hist.dropna(inplace=True)
spx_hist

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,change_pc
1,1928-01-03 00:00:00-05:00,17.760000,17.760000,17.760000,17.760000,0,0.0,0.0,0.566254
2,1928-01-04 00:00:00-05:00,17.719999,17.719999,17.719999,17.719999,0,0.0,0.0,-0.225230
3,1928-01-05 00:00:00-05:00,17.549999,17.549999,17.549999,17.549999,0,0.0,0.0,-0.959368
4,1928-01-06 00:00:00-05:00,17.660000,17.660000,17.660000,17.660000,0,0.0,0.0,0.626784
5,1928-01-09 00:00:00-05:00,17.500000,17.500000,17.500000,17.500000,0,0.0,0.0,-0.906001
...,...,...,...,...,...,...,...,...,...
24600,2025-12-08 00:00:00-05:00,6875.200195,6878.270020,6827.189941,6846.509766,4757130000,0.0,0.0,-0.347726
24601,2025-12-09 00:00:00-05:00,6840.609863,6864.919922,6837.430176,6840.509766,4508050000,0.0,0.0,-0.087636
24602,2025-12-10 00:00:00-05:00,6833.490234,6900.669922,6824.689941,6886.680176,5526570000,0.0,0.0,0.674956
24603,2025-12-11 00:00:00-05:00,6861.299805,6903.459961,6833.450195,6901.000000,5021060000,0.0,0.0,0.207935
24604,2025-12-12 00:00:00-05:00,6886.850098,6899.850098,6801.790039,6827.410156,3194992806,0.0,0.0,-1.066365

In [7]:
# save the dataframe to a csv file
spx_hist.to_csv("spx_historical_data.csv", index=False)