In [ ]:
# install  all dependencies in requirements.txt
import subprocess
subprocess.check_call(['pip', 'install', '-r', 'requirements.txt'])

print ("All dependencies have been installed successfully.")

In [1]:
import pandas as pd
import numpy as np

# load spc_astro_data.csv
spx_dates_df = pd.read_csv('spx_astro_data.csv')
# make data as index 
spx_dates_df.set_index('Date', inplace=True)
# if value  > 0 then 1 else 0
spx_dates_df['change_pc']= np.where(spx_dates_df['change_pc']>0,1,0)
spx_dates_df.head()

,Open,High,Low,Close,Volume,change_pc,Ascendant,Sun_Sign,Moon_Sign,Mars_Sign,Mercury_Sign,Jupiter_Sign,Venus_Sign,Saturn_Sign,Rahu_Sign,Ketu_Sign
Date,,,,,,,,,,,,,,,,
2025-12-14 15:47:00,17.760000,17.760000,17.760000,17.760000,0,1,Capricorn,Sagittarius,Taurus,Scorpio,Sagittarius,Pisces,Scorpio,Scorpio,Taurus,Scorpio
2025-12-14 15:47:00,17.719999,17.719999,17.719999,17.719999,0,0,Capricorn,Sagittarius,Taurus,Scorpio,Sagittarius,Pisces,Scorpio,Scorpio,Taurus,Scorpio
2025-12-14 15:47:00,17.549999,17.549999,17.549999,17.549999,0,0,Capricorn,Sagittarius,Taurus,Scorpio,Sagittarius,Pisces,Scorpio,Scorpio,Taurus,Scorpio
2025-12-14 15:47:00,17.660000,17.660000,17.660000,17.660000,0,1,Aquarius,Sagittarius,Gemini,Scorpio,Sagittarius,Pisces,Scorpio,Scorpio,Taurus,Scorpio
2025-12-14 15:47:00,17.500000,17.500000,17.500000,17.500000,0,0,Aquarius,Sagittarius,Cancer,Sagittarius,Sagittarius,Pisces,Scorpio,Scorpio,Taurus,Scorpio

In [3]:
import pandas as pd

df= spx_dates_df.copy()
# create a map for Moon_Sign to numerical values
SIGNS = [
    'Aries', 'Taurus', 'Gemini', 'Cancer', 'Leo', 'Virgo',
    'Libra', 'Scorpio', 'Sagittarius', 'Capricorn', 'Aquarius', 'Pisces'
]
df['Sun_Sign'] = df['Sun_Sign'].apply(lambda x: SIGNS.index(x))
df['Moon_Sign'] = df['Moon_Sign'].apply(lambda x: SIGNS.index(x))
df['Mars_Sign'] = df['Mars_Sign'].apply(lambda x: SIGNS.index(x))
df['Mercury_Sign'] = df['Mercury_Sign'].apply(lambda x: SIGNS.index(x))
df['Jupiter_Sign'] = df['Jupiter_Sign'].apply(lambda x: SIGNS.index(x))
df['Venus_Sign'] = df['Venus_Sign'].apply(lambda x: SIGNS.index(x))
df['Saturn_Sign'] = df['Saturn_Sign'].apply(lambda x: SIGNS.index(x))
df['Rahu_Sign'] = df['Rahu_Sign'].apply(lambda x: SIGNS.index(x))
df['Ketu_Sign'] = df['Ketu_Sign'].apply(lambda x: SIGNS.index(x))

df.head()

,Open,High,Low,Close,Volume,change_pc,Ascendant,Sun_Sign,Moon_Sign,Mars_Sign,Mercury_Sign,Jupiter_Sign,Venus_Sign,Saturn_Sign,Rahu_Sign,Ketu_Sign
Date,,,,,,,,,,,,,,,,
2025-12-14 15:47:00,17.760000,17.760000,17.760000,17.760000,0,1,Capricorn,8,1,7,8,11,7,7,1,7
2025-12-14 15:47:00,17.719999,17.719999,17.719999,17.719999,0,0,Capricorn,8,1,7,8,11,7,7,1,7
2025-12-14 15:47:00,17.549999,17.549999,17.549999,17.549999,0,0,Capricorn,8,1,7,8,11,7,7,1,7
2025-12-14 15:47:00,17.660000,17.660000,17.660000,17.660000,0,1,Aquarius,8,2,7,8,11,7,7,1,7
2025-12-14 15:47:00,17.500000,17.500000,17.500000,17.500000,0,0,Aquarius,8,3,8,8,11,7,7,1,7

In [22]:
# Calculate the correlation directly between the two columns
correlation_value = df['change_pc'].corr(df['Moon_Sign'])

print(f"Correlation between change_pc and Moon_Sign: {correlation_value}")

ValueError: could not convert string to float: 'Taurus'